<section class="bg-primary-darken d-sm-none">
  <div class="container">
    <div class="text-light d-flex align-items-center">
      <ul class="nav align-items-center">
        <li><a class="nav-link-hover py-3 pe-6 fs-4" href="#">最新消息</a></li>
        <li><a class="nav-link-hover py-3 px-6 fs-4" href="#">特別企劃</a></li>
        <li><a class="nav-link-hover py-3 px-6 fs-4" href="#">新品上市</a></li>
        <li><a class="nav-link-hover py-3 px-6 fs-4" href="#">鏡框小知識</a></li>
      </ul>
      <a class="d-flex ms-auto scale-hover" href="#"><span class="material-symbols-outlined icon">search</span></a>
    </div>
  </div>
</section>