<footer class="pt-12 bg-primary-default text-light pt-md-6">
  <div class="container container-md-fluid">
    <div class="border-bottom d-flex justify-content-between flex-wrap">
      <div>
        <ul class="d-flex mb-6 d-md-none">
          <li><a class="nav-link-hover py-3 pe-6 pe-md-3" href="index.html">首頁</a></li>
          <li><a class="nav-link-hover py-3 px-6 px-md-3" href="product.html">系列鏡框</a></li>
          <li><a class="nav-link-hover py-3 px-6 px-md-3" href="store.html">門市據點</a></li>
          <li><a class="nav-link-hover py-3 px-6 px-md-3" href="blog.html">部落格</a></li>
          <li><a class="nav-link-hover py-3 px-6 px-md-3" href="faq.html">常見問題</a></li>
        </ul>
        <ul class="mb-8 fs-7 ff-noto-sans fs-md-2 mb-sm-6">
          <li class="d-flex mb-2">
            <span class="material-symbols-outlined fs-9 fs-md-5">call</span>
            <a class="nav-link-hover w-100" href="tel:0800-000-000">0800-000-000</a>
          </li>
          <li class="d-flex">
            <span class="material-symbols-outlined fs-9 fs-md-5">mail</span>
            <a class="nav-link-hover w-100" href="mailto:glasses@business.com">glasses@business.com</a>
          </li>
        </ul>
      </div>
      <ul class="d-flex gap-8 gap-sm-2">
        <li><a class="social-link scale-hover" href=""><img src="/assets/images/ic-social-fb.png" alt="facebook icon"></a></li>
        <li><a class="social-link scale-hover" href=""><img src="/assets/images/ic_social_ig.png" alt="instagram icon"></a></li>
        <li><a class="social-link scale-hover" href=""><img src="/assets/images/ic_social_line.png" alt="line icon"></a></li>
      </ul>
    </div>
    <ul class="py-8 d-flex w-100 py-sm-4 flex-sm-column gap-sm-2">
      <li class="me-auto">
        <p>Copyright © 2020 Glasses.All rights reserved.</p>
      </li>
      <li><a class="nav-link-hover px-6 fs-md-1 p-sm-0" href="">隱私權政策</a></li>
      <li><a class="nav-link-hover ps-6 fs-md-1 p-sm-0" href="">服務條款</a></li>
    </ul>
  </div>
</footer>