<header class="bg-primary-default">
  <div class="container container-md-fluid">
    <nav class="d-flex align-items-center justify-content-between flex-md-column mx-md-n3">
      <h1 class="py-4 align-self-md-start px-md-3 ms-md-3">
        <a class="logo-link" href="index.html">眼鏡官網</a>
      </h1>
      <ul class="text-light d-flex gap-4 fs-4 flex-wrap mx-md-n3 gap-md-0 w-md-100 fs-md-2 text-center">
        <li class="w-md-50 border-md"><a class="nav-link-hover px-8 py-6 py-md-3 px-md-0 w-md-100" href="product.html">系列鏡框</a></li>
        <li class="w-md-50 border-md"><a class="nav-link-hover px-8 py-6 py-md-3 px-md-0 w-md-100" href="store.html">門市據點</a></li>
        <li class="w-md-50 border-md"><a class="nav-link-hover px-8 py-6 py-md-3 px-md-0 w-md-100" href="blog.html">部落格</a></li>
        <li class="w-md-50 border-md"><a class="nav-link-hover px-8 py-6 pe-0 py-md-3  px-md-0 w-md-100" href="faq.html">常見問題</a></li>
      </ul>
    </nav>
  </div>
</header>