@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.text-primary-default {
  color: #AA0601;
}

.text-primary-darken {
  color: #650300;
}

.text-primary-lighten {
  color: #FBF2F2;
}

.text-secondary-100 {
  color: #F2F2F2;
}

.text-secondary-200 {
  color: #707070;
}

.text-secondary-300 {
  color: #555555;
}

.text-secondary-400 {
  color: #495057;
}

.text-secondary-500 {
  color: #212529;
}

.text-secondary-600 {
  color: #0A0A0A;
}

.text-dark {
  color: #000000;
}

.text-light {
  color: #FFFFFF;
}

.fs-1 {
  font-size: 14px;
}

.fs-2 {
  font-size: 16px;
}

.fs-3 {
  font-size: 18px;
}

.fs-4 {
  font-size: 20px;
}

.fs-5 {
  font-size: 24px;
}

.fs-6 {
  font-size: 32px;
}

.fs-7 {
  font-size: 36px;
}

.fs-8 {
  font-size: 42px;
}

.fs-9 {
  font-size: 48px;
}

.fs-10 {
  font-size: 64px;
}

.fw-medium {
  font-weight: 500;
}

.fw-bold {
  font-weight: 700;
}

.fw-bolder {
  font-weight: 900;
}

.fst-italic {
  font-style: italic;
}

.ff-roboto {
  font-family: "Roboto", sans-serif;
}

.ff-noto-sans {
  font-family: "Noto Sans TC", sans-serif;
}

.p-1 {
  padding: 4px;
}

.p-4 {
  padding: 16px;
}

.p-6 {
  padding: 24px;
}

.py-8 {
  padding: 32px 0;
}

.px-3 {
  padding-left: 12px;
  padding-right: 12px;
}

.px-6 {
  padding-left: 24px;
  padding-right: 24px;
}

.px-8 {
  padding-left: 32px;
  padding-right: 32px;
}

.py-3 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.py-4 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-6 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.py-20 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.pt-12 {
  padding-top: 48px;
}

.pe-0 {
  padding-right: 0px;
}

.pe-6 {
  padding-right: 24px;
}

.pb-8 {
  padding-bottom: 32px;
}

.ps-6 {
  padding-left: 24px;
}

.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.mt-20 {
  margin-top: 80px;
}

.mx-1 {
  margin-left: 4px;
  margin-right: 4px;
}

.mx-n3 {
  margin-left: -12px;
  margin-right: -12px;
}

.mx-auto {
  margin: 0 auto;
}

.mt-auto {
  margin-top: auto;
}

.me-auto {
  margin-right: auto;
}

.me-1 {
  margin-right: 4px;
}

.mb-1 {
  margin-bottom: 4px;
}

.mb-2 {
  margin-bottom: 8px;
}

.mb-4 {
  margin-bottom: 16px;
}

.mb-6 {
  margin-bottom: 24px;
}

.mb-8 {
  margin-bottom: 32px;
}

.mb-12 {
  margin-bottom: 48px;
}

.mb-18 {
  margin-bottom: 72px;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.gap-2 {
  gap: 8px;
}

.gap-4 {
  gap: 16px;
}

.gap-8 {
  gap: 32px;
}

.row-gap-20 {
  row-gap: 80px;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.text-end {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: left;
}

.text-start {
  text-align: left;
}

.lh-0 {
  line-height: 0;
}

.bg-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-primary-default {
  background: #AA0601;
}

.bg-primary-darken {
  background: #650300;
}

.bg-primary-lighten {
  background: #FBF2F2;
}

.bg-light {
  background: #FFFFFF;
}

.bg-transparent {
  background: transparent;
}

.border-right-secondary {
  border-right: 1px solid #555555;
}

.border-radius-1 {
  border-radius: 4px;
}

.border-bottom {
  border-bottom: 1px solid white;
}

.shadow-sm {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1607843137);
}

@media (max-width: 992px) {
  .mx-lg-n3 {
    margin-left: -12px;
    margin-right: -12px;
  }
  .mb-lg-6 {
    margin-bottom: 24px;
  }
  .flex-lg-column {
    flex-direction: column;
  }
  .align-items-lg-center {
    align-items: center;
  }
  .row-gap-lg-6 {
    row-gap: 24px;
  }
  .row-gap-lg-12 {
    row-gap: 48px;
  }
  .row-gap-lg-10 {
    row-gap: 40px;
  }
}
@media (max-width: 767px) {
  .px-md-3 {
    padding-left: 12px;
    padding-right: 12px;
  }
  .py-md-3 {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .px-md-0 {
    padding-left: 0;
    padding-right: 0;
  }
  .pt-md-6 {
    padding-top: 24px;
  }
  .pe-md-3 {
    padding-right: 12px;
  }
  .mx-md-n3 {
    margin-left: -12px;
    margin-right: -12px;
  }
  .ms-md-3 {
    margin-left: 12px;
  }
  .d-md-none {
    display: none;
  }
  .flex-md-column {
    flex-direction: column;
  }
  .flex-md-wrap {
    flex-wrap: wrap;
  }
  .align-self-md-start {
    align-self: start;
  }
  .align-items-sm-start {
    align-items: flex-start;
  }
  .gap-md-0 {
    gap: 0px;
  }
  .w-md-100 {
    width: 100%;
  }
  .w-md-50 {
    width: 50%;
  }
  .fs-md-1 {
    font-size: 14px;
  }
  .fs-md-2 {
    font-size: 16px;
  }
  .fs-md-5 {
    font-size: 24px;
  }
  .border-md {
    border: 1px solid white;
  }
}
@media (max-width: 576px) {
  .p-sm-0 {
    padding: 0;
  }
  .py-sm-4 {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .py-sm-10 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .mb-sm-6 {
    margin-bottom: 24px;
  }
  .flex-sm-column {
    flex-direction: column;
  }
  .gap-sm-2 {
    gap: 8px;
  }
  .row-gap-sm-4 {
    row-gap: 16px;
  }
  .row-gap-sm-6 {
    row-gap: 24px;
  }
  .fs-sm-2 {
    font-size: 16px;
  }
  .fs-sm-5 {
    font-size: 24px;
  }
}
.container {
  max-width: 1320px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 372px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  /* 抵銷最左邊和最右邊的 col 多出來的 padding */
  margin-left: -12px;
  margin-right: -12px;
}

.col-1 {
  width: 8.3333333333%;
  padding-left: 12px;
  padding-right: 12px;
}

.col-2 {
  width: 16.6666666667%;
  padding-left: 12px;
  padding-right: 12px;
}

.col-3 {
  width: 25%;
  padding-left: 12px;
  padding-right: 12px;
}

.col-4 {
  width: 33.3333333333%;
  padding-left: 12px;
  padding-right: 12px;
}

.col-5 {
  width: 41.6666666667%;
  padding-left: 12px;
  padding-right: 12px;
}

.col-6 {
  width: 50%;
  padding-left: 12px;
  padding-right: 12px;
}

.col-7 {
  width: 58.3333333333%;
  padding-left: 12px;
  padding-right: 12px;
}

.col-8 {
  width: 66.6666666667%;
  padding-left: 12px;
  padding-right: 12px;
}

.col-9 {
  width: 75%;
  padding-left: 12px;
  padding-right: 12px;
}

.col-10 {
  width: 83.3333333333%;
  padding-left: 12px;
  padding-right: 12px;
}

.col-11 {
  width: 91.6666666667%;
  padding-left: 12px;
  padding-right: 12px;
}

.col-12 {
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
}

@media (max-width: 992px) {
  .col-lg-1 {
    width: 8.3333333333%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .col-lg-2 {
    width: 16.6666666667%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .col-lg-3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .col-lg-4 {
    width: 33.3333333333%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .col-lg-5 {
    width: 41.6666666667%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .col-lg-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .col-lg-7 {
    width: 58.3333333333%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .col-lg-8 {
    width: 66.6666666667%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .col-lg-9 {
    width: 75%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .col-lg-10 {
    width: 83.3333333333%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .col-lg-11 {
    width: 91.6666666667%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .col-lg-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .container-lg-fluid {
    max-width: 1320px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .col-md-1 {
    width: 8.3333333333%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .col-md-2 {
    width: 16.6666666667%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .col-md-3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .col-md-4 {
    width: 33.3333333333%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .col-md-5 {
    width: 41.6666666667%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .col-md-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .col-md-7 {
    width: 58.3333333333%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .col-md-8 {
    width: 66.6666666667%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .col-md-9 {
    width: 75%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .col-md-10 {
    width: 83.3333333333%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .col-md-11 {
    width: 91.6666666667%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .col-md-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .container-md-fluid {
    max-width: 1320px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
  .col-sm-1 {
    width: 8.3333333333%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .col-sm-2 {
    width: 16.6666666667%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .col-sm-3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .col-sm-4 {
    width: 33.3333333333%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .col-sm-5 {
    width: 41.6666666667%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .col-sm-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .col-sm-7 {
    width: 58.3333333333%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .col-sm-8 {
    width: 66.6666666667%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .col-sm-9 {
    width: 75%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .col-sm-10 {
    width: 83.3333333333%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .col-sm-11 {
    width: 91.6666666667%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .col-sm-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .container-sm-fluid {
    max-width: 1320px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 0 auto;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  line-height: 1.5;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.btn {
  padding: 6px 12px;
  border: none;
  cursor: pointer;
}

.btn-lg {
  padding-top: 16px;
  padding-bottom: 16px;
}

.btn-primary-default {
  background: #AA0601;
  color: #FFFFFF;
}
.btn-primary-default:hover {
  background: #650300;
}

.form-title {
  display: block;
  margin-bottom: 8px;
}

.form-input {
  padding: 6px 12px;
  width: 100%;
  background: transparent;
}
.form-input::-moz-placeholder {
  color: #000000;
  opacity: 20%;
}
.form-input::placeholder {
  color: #000000;
  opacity: 20%;
}

.form-checkbox {
  width: 20px;
  height: 20px;
}

.resize-none {
  resize: none;
}

.nav {
  display: flex;
  flex-wrap: wrap;
}

.nav-link-hover:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.tab-item {
  width: 33.3333%;
  font-weight: bold;
  font-size: 32px;
  border: 1px solid #DCDCDC;
}
.tab-item.active, .tab-item:hover {
  border-bottom: 8px solid #AA0601;
}
@media (max-width: 992px) {
  .tab-item {
    font-size: 24px;
  }
}
@media (max-width: 576px) {
  .tab-item {
    font-size: 16px;
  }
}

.tab-link {
  padding: 24px 16px;
  width: 100%;
  cursor: pointer;
}
@media (max-width: 992px) {
  .tab-link {
    padding: 16px 8px;
  }
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.pagination {
  display: flex;
  justify-content: center;
}

.page-item {
  border: 1px solid #555555;
  border-right: none;
}
@media (max-width: 576px) {
  .page-item {
    display: flex;
    flex-grow: 1;
  }
}

.page-link {
  width: 100%;
  padding: 12px 15px;
}
.page-link.active, .page-link:hover {
  color: #FFFFFF;
  background-color: #000000;
}

.logo-link {
  background: url("/assets/images/logo-white.png") no-repeat center/contain;
  width: 80px;
  height: 49px;
  display: block;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

@media (max-width: 576px) {
  .social {
    gap: 8px;
  }
}

.social-link {
  width: 48px;
  height: 48px;
}
.social-link:hover {
  transform: translateY(-3px);
  transition: 0.3s;
}
@media (max-width: 767px) {
  .social-link {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 576px) {
  .social-link {
    width: 24px;
    height: 24px;
  }
}

.bg-item {
  width: 50%;
  height: 296px;
}
@media (max-width: 576px) {
  .bg-item {
    height: 136px;
  }
}

.bg-optical-left {
  background-image: url("/assets/images/product-header-1.png");
}
@media (max-width: 992px) {
  .bg-optical-left {
    background-image: url("/assets/images/product-header-sm-1.png");
  }
}

.bg-optical-right {
  background-image: url("/assets/images/product-header-2.png");
}
@media (max-width: 992px) {
  .bg-optical-right {
    background-image: url("/assets/images/product-header-sm-2.png");
  }
}

.bg-sunglasses-left {
  background-image: url("/assets/images/product-header-3.png");
}
@media (max-width: 992px) {
  .bg-sunglasses-left {
    background-image: url("/assets/images/product-header-sm-3.png");
  }
}

.bg-sunglasses-right {
  background-image: url("/assets/images/product-header-4.png");
}
@media (max-width: 992px) {
  .bg-sunglasses-right {
    background-image: url("/assets/images/product-header-sm-4.png");
  }
}

.color-tag {
  width: 24px;
  height: 24px;
  border-radius: 4px;
}

.color-tag-primary {
  background-color: #5F3E2D;
}

.color-tag-secondary {
  background-color: #B75929;
}

.banner {
  background-image: url("/assets/images/home-header.png");
  height: calc(100vh - 80px);
}
@media (max-width: 992px) {
  .banner {
    background-image: url("/assets/images/home-header-sm.png");
  }
}

.icon-lg {
  font-size: 100px;
  color: #650300;
}

.cobrand {
  background-image: url("/assets/images/index-bg.png");
}
@media (max-width: 992px) {
  .cobrand {
    background-image: url("/assets/images/index-bg-sm.png");
  }
}

@media (max-width: 992px) {
  .classic-lg-img {
    max-width: 336px;
  }
}

.contact-wrapper {
  max-width: 636px;
  margin: 0 auto;
}/*# sourceMappingURL=all.css.map */