.form-title{
  display: block;
  margin-bottom: 8px;
}
.form-input{
  padding: 6px 12px;
  width: 100%;
  background: transparent;
  &::placeholder{
    color: #000000;
    opacity: 20%;
  }
}
.form-checkbox{
  width: 20px;
  height: 20px;
}
.resize-none{
  resize: none;
}