.banner{
  background-image: url('/assets/images/home-header.png');
  height: calc(100vh - 80px);
  @include lg {
    background-image: url('/assets/images/home-header-sm.png');
  }
}
.icon-lg{
  font-size: 100px;
  color: $primary-darken;
}
.cobrand{
  background-image: url('/assets/images/index-bg.png');
  @include lg{
    background-image: url('/assets/images/index-bg-sm.png');
  }
}

.classic-lg-img{
  @include lg{
    max-width: 336px;
  }
}

.contact-wrapper{
  max-width: 636px;
  margin: 0 auto;
}