<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>門市據點</title>
</head>

<body>
  <%- include('./layout/header'); -%>
    <div class="container pt-24 pb-20 py-lg-20 pt-sm-10 pb-sm-16">
      <h2 class="section-title">門市據點</h2>
      <div class="d-flex align-items-center mb-10 mb-sm-6">
        <label for="locations" class="fs-5 me-4 fs-sm-2 me-sm-2">選擇分店</label>
        <select name="locations" id="locations" class="store-select">
          <option value="台北中山旗艦店" selected>台北中山旗艦店</option>
          <option value="台北綠園店">台北綠園店</option>
          <option value="台中清水旗艦店">台中清水旗艦店</option>
          <option value="高雄中正形象店">高雄中正形象店</option>
          <option value="高雄夢時代店">高雄夢時代店</option>
        </select>
      </div>
      <div class="row gap-lg-6">
        <div class="col-5 col-lg-12">
          <div class="d-lg-flex gap-lg-6 flex-sm-column gap-sm-0">
            <div class="w-lg-50 w-sm-100">
              <picture>
                <!-- 當螢幕寬度少於992px時，替換圖片 -->
                <source  srcset="../assets/images/store-1.png" media="(max-width: 992px)">
                <!-- 預設圖片，通常是桌面版本 -->
                <img class="h-100" src="../assets/images/storepage-1.png" alt="">
              </picture>
            </div>

            <div class="w-lg-50 w-sm-100">
              <h3 class="fs-5 border-gray py-2 px-6">台北中山旗艦店</h3>
              <address class="border-gray py-4 px-6 d-flex flex-column gap-2 fs-4">
                <div class="d-flex align-items-center">
                  <span class="material-symbols-outlined me-2">call</span>電話：(02)000-1234
                </div>
                <div class="d-flex align-items-center">
                  <span class="material-symbols-outlined me-2">schedule</span>營業時間：10:00-21:00
                </div>
                <div class="d-flex">
                  <span class="material-symbols-outlined me-2">location_on</span>地址：台北市中山區南京東路25巷2-1號
                </div>
              </address>
            </div>
          </div>
        </div>
        <div class="col-7 col-lg-12">
          <iframe class="store-map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.459131922076!2d121.52166677602482!3d25.05242297780447!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a968b78933bb%3A0xaeda148545ce64e3!2sNo.%2025%2C%20Section%201%2C%20Nanjing%20E%20Rd%2C%20Zhongshan%20District%2C%20Taipei%20City%2C%20Taiwan%2010491!5e0!3m2!1sen!2suk!4v1723163134432!5m2!1sen!2suk"
            width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
    <%- include('./layout/footer'); -%>
      <script type="module" src="../main.js"></script>
</body>

</html>