.fw-medium{
  font-weight: 500;
}
.fw-bold{
  font-weight: 700;
}
.fw-bolder{
  font-weight: 900;
}
.fst-italic{
  font-style: italic;
}
.ff-roboto{
  font-family: "Roboto", sans-serif;
}
.ff-noto-sans{
  font-family: "Noto Sans TC", sans-serif;
}