// spacing 
.p-1{
  padding: 4px;
}
.p-4{
  padding: 16px;
}
.p-6{
  padding: 24px;
}
.py-8{
  padding: 32px 0;
}
.px-3{
  padding-left: 12px;
  padding-right: 12px;
}
.px-6{
  padding-left: 24px;
  padding-right: 24px;
}
.px-8{
  padding-left: 32px;
  padding-right: 32px;
}
.py-2{
  padding-top: 8px;
  padding-bottom: 8px;
}
.py-3{
  padding-top: 12px;
  padding-bottom: 12px;
}
.py-4{
  padding-top: 16px;
  padding-bottom: 16px;
}
.py-6{
  padding-top: 24px;
  padding-bottom: 24px;
}
.py-20{
  padding-top: 80px;
  padding-bottom: 80px;
}
.py-24{
  padding-top: 96px;
  padding-bottom: 96px;
}
.pt-12{
  padding-top: 48px;
}
.pt-24{
  padding-top: 96px;
}
.pe-0{
  padding-right: 0px;
}
.pe-6{
  padding-right: 24px;
}
.pb-8{
  padding-bottom: 32px;
}
.pb-2{
  padding-bottom: 8px;
}
.pb-20{
  padding-bottom: 80px;
}
.ps-6{
  padding-left: 24px;
}
.m-0{
  margin: 0;
}
.mt-0{
  margin-top: 0;
}
.mt-20{
  margin-top: 80px;
}
.mt-auto{
  margin-top: auto;
}
.mx-1{
  margin-left: 4px;
  margin-right: 4px;
}
.mx-n3{
  margin-left: -12px;
  margin-right: -12px;
}
.mx-auto{
  margin: 0 auto;
}
.mt-auto{
  margin-top: auto;
}
.me-auto{
  margin-right: auto;
}
.me-1{
  margin-right: 4px;
}
.me-2{
  margin-right: 8px;
}
.me-3{
  margin-right: 12px;
}
.me-4{
  margin-right: 16px;
}
.mb-1{
  margin-bottom: 4px;
}
.mb-2{
  margin-bottom: 8px;
}
.mb-4{
  margin-bottom: 16px;
}
.mb-6{
  margin-bottom: 24px;
}
.mb-8{
  margin-bottom: 32px;
}
.mb-10{
  margin-bottom: 40px;
}
.mb-12{
  margin-bottom: 48px;
}
.mb-18{
  margin-bottom: 72px;
}
.ms-auto{
  margin-left: auto;
}

// layout
// display
.d-block{
  display: block;
}
.d-flex{
  display: flex;
}
.d-none{
  display: none;
}
// flex 
.flex-column{
  flex-direction: column;
}
.flex-wrap{
  flex-wrap: wrap;
}
.flex-grow-1{
  flex-grow: 1;
}
.align-items-center{
  align-items: center;
}
.align-items-end{
  align-items: flex-end;
}
.align-self-end{
  align-self: flex-end;
}
.justify-content-between{
  justify-content: space-between;
}
.justify-content-center{
  justify-content: center;
}

// gap
.gap-2{
  gap: 8px;
}
.gap-4{
  gap: 16px;
}
.gap-8{
  gap: 32px;
}
.gap-10{
  gap: 40px;
}
.row-gap-1{
  row-gap: 4px;
}
.row-gap-12{
  row-gap: 48px;
}
.row-gap-15{
  row-gap: 60px;
}
.row-gap-20{
  row-gap: 80px;
}
.column-gap-6{
  column-gap: 24px;
}
// size
.h-100{
  height: 100%;
}
.w-100{
  width: 100%;
}
.w-50{
  width: 50%;
}
//overflow
.overflow-hidden{
  overflow: hidden;
}

// typography
// text align 
.text-end{
  text-align: right;
}
.text-center{
  text-align: center;
}
.text-start{
  text-align: left;
}
.text-start{
  text-align: left;
}
// line height 
.lh-0{
  line-height: 0;
}



// background 
.bg-img{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-primary-default{
  background: $primary-default;
}
.bg-primary-darken{
  background: $primary-darken;
}
.bg-primary-lighten{
  background: $primary-lighten;
}
.bg-light{
  background: $light;
}
.bg-transparent{
  background: transparent;
}

// border 
.border-right-secondary{
  border-right: 1px solid $secondary-300;
}
.border-radius-1{
  border-radius: 4px;
}
.border-bottom{
  border-bottom: 1px solid white;
}
.border-gray{
  border: 1px solid #00000020;
}
.shadow-sm{
  box-shadow: 0px 2px 6px #00000029;
}

// position
.position-relative{
  position: relative;
}

// hover
.scale-hover:hover{
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

// opacity
.opacity-70{
  opacity: 70%;
}

@include lg{
  .mx-lg-n3{
    margin-left: -12px;
    margin-right: -12px;
  }
  .mb-lg-1{
    margin-bottom: 4px;
  }
  .mb-lg-6{
    margin-bottom: 24px;
  }
  .py-lg-20{
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .d-lg-block{
    display: block;
  }
  .d-lg-none{
    display: none;
  }
  .d-lg-flex{
    display: flex;
  }
  .flex-lg-column{
    flex-direction: column;
  }
  .flex-lg-row{
    flex-direction: row;
  }
  .align-items-lg-center{
    align-items: center;
  }
  .gap-lg-6{
    gap: 24px;
  }
  .row-gap-lg-6{
    row-gap: 24px;
  }
  .row-gap-lg-12{
    row-gap: 48px;
  }
  .row-gap-lg-10{
    row-gap: 40px;
  }
  .column-gap-lg-4{
    column-gap: 16px;
  }
  .w-lg-50{
    width: 50%;
  }
  .w-lg-100{
    width: 100%;
  }
  .fs-lg-2{
    font-size: $fs-2;
  }
  .fs-lg-5{
    font-size: $fs-5;
  }

}

@include md{
  .px-md-3{
    padding-left: 12px;
    padding-right: 12px;
  }
  .py-md-3{
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .px-md-0{
    padding-left: 0;
    padding-right: 0;
  }
  .pt-md-6{
    padding-top: 24px;
  }
  .pe-md-3{
    padding-right: 12px;
  }
  .mx-md-n3{
    margin-left: -12px;
    margin-right: -12px;
  }
  .ms-md-3{
    margin-left: 12px;
  }
  .d-md-none{
    display: none;
  }
  .flex-md-column{
    flex-direction: column;
  }
  .flex-md-wrap{
    flex-wrap: wrap;
  }
  .align-self-md-start{
    align-self: start;
  }
  .align-items-sm-start{
    align-items: flex-start;
  }
  .gap-md-0{
    gap: 0px;
  }
  .w-md-100{
    width: 100%;
  }
  .w-md-50{
    width: 50%;
  }
  .fs-md-1{
    font-size: $fs-1;
  }
  .fs-md-2{
    font-size: $fs-2;
  }
  .fs-md-5{
    font-size: $fs-5;
  }
  .border-md{
    border: 1px solid white;
  }

}
@include sm{
  .p-sm-0{
    padding: 0;
  }
  .py-sm-4{
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .py-sm-10{
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .pt-sm-10{
    padding-top: 40px;
  }
  .pb-sm-16{
    padding-bottom: 64px;
  }
  .me-sm-2{
    margin-right: 8px;
  }
  .mb-sm-6{
    margin-bottom: 24px;
  }
  .d-sm-none{
    display: none;
  }
  .flex-sm-column{
    flex-direction: column;
  }
  .gap-sm-0{
    gap: 0px;
  }
  .gap-sm-2{
    gap: 8px;
  }
  .row-gap-sm-4{
    row-gap: 16px;
  }
  .row-gap-sm-6{
    row-gap: 24px;
  }
  .w-sm-100{
    width: 100%;
  }
  .fs-sm-2{
    font-size: $fs-2;
  }
  .fs-sm-5{
    font-size: $fs-5;
  }

}